@font-face {
  font-family: Rubik;
  src: url("fonts/Rubik.ttf");
}

body {
  --background: hsl(190, 40%, 30%);
  --color-light: hsl(150, 100%, 75%);
  --color-dark: hsl(190, 38%, 18%);
  --gray-dark: #333;
  --gray: #4d4d4d;
  --color-bad: rgb(255, 106, 125);
  --spacing: 10px;

  background: var(--background);
  color: white;
  font-family: monospace;
  margin: var(--spacing);
  cursor: default;
  user-select: none;
}

h1 {
  margin: 0;
  font-family: "Rubik";
}

button {
  outline: none;
  border-radius: 5px;
  padding: 3px;
  border: none;
  background-color: var(--color-light);
  color: var(--gray-dark);
  font: inherit;
  text-overflow: ellipsis;
  cursor: pointer;
}
button:enabled:hover {
  background-color: white;
}

.interface {
  display: block;
}

.bottom-container {
  display: flex;
  position: fixed;
  top: calc(150px + var(--spacing));
  right: 0;
  left: 0;
  bottom: 0;
  margin: var(--spacing);
}

/*
    INPUT
*/
input {
  outline: none;
  border-radius: 5px;
  padding: 3px;
  border: none;
  background-color: var(--gray-dark);
  color: inherit;
  font: inherit;
}
input:focus {
  background-color: var(--gray);
}
*::selection {
  background-color: var(--color-light);
  border-radius: 2px;
}
input:read-only {
  direction: rtl;
}

/*
    SETTINGS
*/
.settings {
  background-color: var(--gray);
  padding: 5px;
  border: 1px dashed white;
  overflow-y: auto;
  height: 100px;
}

.setting {
  margin: 2px;
}

.setting.single-button {
  display: inline-flex;
  align-items: baseline;
}
.setting.single-button input {
  border-radius: 5px 0 0 5px;
  margin-left: 5px;
  width: 250px;
}
.setting.single-button button {
  border-radius: 0 5px 5px 0;
}

.directories {
  padding: 5px 20px;
}

.directory:hover button {
  color: white;
}
.directory input {
  min-width: 50px;
}

.directory.loading {
  opacity: 60%;
}
.directory.loading button {
  display: none;
}

button.remove {
  font-weight: bold;
  background: none;
  color: transparent;
}
button.remove:hover {
  background: none;
  color: var(--color-bad);
}

/*
    TASKS
*/
.task-container {
  position: absolute;
  display: block;
  width: 150px;
  border: 1px solid white;
  box-sizing: border-box;
  padding: 5px;
  background-color: var(--gray);
  bottom: 0;
  right: 0;
  top: 0;
}

.task {
  width: auto;
  background-color: var(--gray-dark);
}

.task:not(:nth-child(1)) {
  opacity: 60%;
}

.task h2 {
  font-size: medium;
  font-weight: normal;
  margin: 0;
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*
    FILES
*/
.border {
    display: block;
    z-index: 10;
    border: 1px solid white;
    left: 0;
    bottom: 0;
    right: calc(150px + var(--spacing));
    top: 0;
    position: absolute;
    pointer-events: none;
}
.file-container {
  border-collapse: separate;
  border-spacing: 0;
  background-color: var(--gray);
  display: table-row-group;
  overflow-y: auto;
  width: calc(100% - 150px - var(--spacing));
}
.file-container::-webkit-scrollbar {
  display: none;
}
.file-container td, th {
  padding: 5px;
  width: 500px;
}
.file-container td {
  border-bottom: 1px solid;
  border-right: 1px solid;
}
.file-container th {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--gray-dark);
  border-bottom: 1px solid;
  border-right: 1px solid;
}
.file-container tr {
  background-color: var(--gray-dark);
}
.file-container th:last-child,
.file-container td:last-child {
  border-right: none;
}

.file {
  cursor: default;
}
.file:hover {
  background-color: var(--color-dark);
}
.file.selected {
  background-color: blueviolet;
}

.file td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
    PROGRESS
*/
.progressbar {
  height: 2px;
  background-color: var(--background);
}

.progress {
  background-color: var(--color-light);
  width: 50%;
  height: 100%;
}