@font-face {
	font-family: Rubik;
	src: url("fonts/Rubik.ttf");
}

body {
	--color-light: hsl(33, 100%, 75%);
	--color: hsl(33, 28%, 55%);
	--color-dark: hsl(33, 35%, 35%);
	--gray: hsl(0, 0%, 30%);
	--gray-dark: hsl(0, 0%, 20%);
	--color-bad: hsl(12, 100%, 71%);
	--color-highlight: hsl(54, 100%, 83%);

	--spacing: 2px;
	--task-window-width: 175px;
	--settings-height: 81px;
	--menu-height: 30px;
	--head-height: 30px;

	background: var(--color-highlight);
	color: white;
	font-family: Rubik;
	font-size: 16px;
	margin: var(--spacing);
	cursor: default;
	user-select: none;
	position: relative;
}

.titlebar {
	background-color: var(--color-dark) !important;
}
.container-after-titlebar {
	position: fixed !important;
	padding: var(--spacing);
}
.action-label {
	padding: 0 20px 0 0 !important;
}
.menu-item-icon {
	width: 20px !important;
	margin: 0 !important;
}
.keybinding {
	padding: 0 20px !important;
}

h1 {
	margin: 0;
	font-family: "Rubik";
	font-size: 25px;
	text-align: center;
}

button {
	outline: none;
	border-radius: 5px;
	padding: 0;
	border: none;
	background: none;
	color: var(--color-light);
	text-align: left;
	font: inherit;
	text-overflow: ellipsis;
}
button:enabled {
	cursor: pointer;
}
button:enabled:hover {
	background: none;
	color: white;
}

.interface {
	display: block;
	position: absolute;
	top: var(--spacing);
	width: calc(100% - 2 * var(--spacing));
}

.bottom-container {
	display: flex;
	position: fixed;
	top: calc(var(--settings-height) + var(--menu-height) + var(--spacing));
	right: 0;
	left: 0;
	bottom: 0;
	margin: var(--spacing);
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background: none;
}
::-webkit-scrollbar-track {
	background: var(--gray-dark);
}
::-webkit-scrollbar-track:horizontal {
	border-top: 1px solid var(--gray);
}
::-webkit-scrollbar-track:vertical {
	background: var(--gray-dark);
	border-left: 1px solid var(--gray);
}
::-webkit-scrollbar-thumb {
	background-color: #fff6;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #fffa;
}
::-webkit-scrollbar-corner {
	background-color: var(--gray);
}

th {
	font-weight: normal;
}

/*
	INPUT
*/
input {
	outline: none;
	border-radius: 5px;
	padding: 3px;
	border: none;
	background-color: var(--gray-dark);
	color: inherit;
	font: inherit;
}
input:focus {
	background-color: var(--gray);
}
*::selection {
	background-color: var(--color-light);
	border-radius: 2px;
}
input:read-only {
	direction: rtl;
}

/*
	SETTINGS
*/
.settings {
	background-color: var(--gray-dark);
	padding: 5px;
	overflow-y: auto;
	overflow-x: hidden;
	height: var(--settings-height);
	box-sizing: border-box;
}

.setting {
	width: 100%;
	display: inline-flex;
	text-overflow: ellipsis;
	position: relative;
	border-bottom: 1px solid var(--gray);
	padding-bottom: 3px;
	margin-bottom: 3px;
}
.setting:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border: none;
}

.label {
	color: var(--color-highlight);
	white-space: nowrap;
	margin-right: 5px;
}

.directories {
	display: flex;
	flex-wrap: wrap;
}

.directory {
	cursor: pointer;
	margin-right: 5px;
	align-self: center;
	color: white;
}
.directory:not(:last-child)::after {
	content: ",";
	cursor: default;
}
.directory:not(.loading):hover {
	color: var(--color-bad);
}
.directory.loading {
	opacity: 60%;
}

/*
	TASKS
*/
.task-window {
	position: absolute;
	display: flex;
	flex-direction: column;
	width: var(--task-window-width);
	box-sizing: border-box;
	background-color: var(--gray);
	bottom: 0;
	right: 0;
	top: 0;
}

.tools {
	height: var(--head-height);
	background-color: var(--gray-dark);
	border-bottom: 1px solid white;
	box-sizing: border-box;
	padding: 0 5px;
	display: flex;
}
.tools button {
	margin: 0;
}
.tools button:disabled {
	opacity: 60%;
}
.tools #remaining {
	white-space: nowrap;
	align-self: center;
}
.space {
	width: 100%;
	height: 100%;
}

.task-container {
	text-align: center;
	overflow-y: auto;
}

.task {
	width: auto;
	--progress: 0%;
	background: linear-gradient(to right, var(--color-dark) var(--progress), var(--gray-dark) 0%);
	text-align: left;
	position: relative;
}
.task:not(:first-child) {
	background: #444;
	color: #aaa;
}

.task-buttons {
	display: flex;
	align-items: center;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 2px;
	padding: 5px;
}
.task-buttons button {
	background-color: var(--gray-dark);
	padding: 3px;
	width: 25px;
	height: 25px;
	z-index: 1;
	margin-left: 5px;
	text-align: center;
	vertical-align: middle;
}
.task-buttons .remove {
	color: var(--color-bad);
}
.task-buttons button:hover {
	background-color: var(--gray-dark);
}
.task:first-child button,
.task:nth-child(2) .move,
.task:not(:hover) button {
	display: none;
}

.task h2 {
	font-size: inherit;
	font-weight: normal;
	margin: 0;
	padding: 5px;
	text-overflow: ellipsis;
	overflow: hidden;
	box-sizing: border-box;
}

.task .progress {
	width: var(--progress);
}

/*
	FILES
*/
.file-container {
	border-collapse: separate;
	border-spacing: 0;
	background-color: var(--gray);
	display: table-row-group;
	overflow-y: auto;
	width: calc(100% - var(--task-window-width) - var(--spacing));
}
.file-container td, th {
	padding: 5px;
	width: 500px;
}
.file-container td {
	border-right: 1px solid var(--gray);
	border-bottom: 1px solid var(--gray);
	white-space: nowrap;
}
.file-container th {
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: var(--gray-dark);
	border-bottom: 1px solid;
	box-sizing: border-box;
	height: var(--head-height);
}
.file-container tr {
	background-color: var(--gray-dark);
}
.file-container th:last-child,
.file-container td:last-child {
	border-right: none;
}

.file {
	cursor: default;
}
.file:hover {
	background-color: var(--gray);
}
.file.selected {
	background-color: var(--color-dark);
}
.file.enqueued {
	color: var(--gray);
}
.file.up-to-date {
	color: var(--color);
}

.file td {
	max-width: 60px;
	overflow: hidden;
	text-overflow: ellipsis;
}

/*
	PROGRESS
*/
.progressbar {
	height: 2px;
	background-color: var(--color-dark);
}

.progress {
	background-color: var(--color-light);
	width: 50%;
	height: 100%;
}