@font-face {
  font-family: Rubik;
  src: url("fonts/Rubik.ttf");
}

body {
  --background: hsl(190, 40%, 30%);
  --color-light: hsl(150, 100%, 75%);
  --color-dark: hsl(190, 38%, 18%);
  --gray-dark: #333;
  --gray: #4d4d4d;
  --bad: rgb(255, 106, 125);

  background: var(--background);
  color: white;
  font-family: monospace;
  margin: 10px;
}

h1 {
  margin: 0;
  font-family: "Rubik";
}

button {
  outline: none;
  border-radius: 5px;
  padding: 3px;
  border: none;
  background-color: var(--color-light);
  color: var(--gray-dark);
  font: inherit;
  text-overflow: ellipsis;
  cursor: pointer;
}
button:enabled:hover {
  background-color: white;
}

.interface {
  margin: 10px 0;
  display: flex;
}

/*
    INPUT
*/
input {
  outline: none;
  border-radius: 5px;
  padding: 3px;
  border: none;
  background-color: var(--gray-dark);
  color: inherit;
  font: inherit;
}
input:focus {
  background-color: var(--gray);
}
*::selection {
  background-color: var(--color-light);
  border-radius: 2px;
}
input:read-only {
  direction: rtl;
}

/*
    SETTINGS
*/
.settings {
  background-color: var(--gray);
  padding: 5px;
  border: 1px dashed white;
}

.setting {
  margin: 2px;
}

.setting.single-button {
  display: inline-flex;
  align-items: baseline;
}
.setting.single-button input {
  border-radius: 5px 0 0 5px;
  margin-left: 5px;
  width: 250px;
}
.setting.single-button button {
  border-radius: 0 5px 5px 0;
}

.directories {
  padding: 5px 20px;
}

.directory:hover button {
  color: white;
}
.directory input {
  min-width: 50px;
}

.directory.loading {
  opacity: 50%;
}
.directory.loading button {
  display: none;
}

button.remove {
  font-weight: bold;
  background: none;
  color: transparent;
}
button.remove:hover {
  background: none;
  color: var(--bad);
}

/*
    TASKS
*/
.task-container {
  display: block;
  min-width: 100px;
  width: 150px;
  border: 1px dashed white;
  padding: 5px;
  background-color: var(--gray);
}

.task {
  width: auto;
  background-color: var(--gray-dark);
}

.task:not(:nth-child(1)) {
  opacity: 60%;
}

.task h2 {
  font-size: medium;
  font-weight: normal;
  margin: 0;
  padding: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*
    FILES
*/
.file-container {
  width: 100%;
  flex: 1;
  background-color: var(--gray);
  border-collapse: separate;
}
.file-container th, td {
  padding: 5px;
  border-spacing: 0 2px;
}
.file-container tr {
  background-color: var(--gray-dark);
}

.file {
  cursor: pointer;
}
.file:hover {
  background-color: var(--color-dark);
}

.file td {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*
    PROGRESS
*/
.progressbar {
  height: 2px;
  background-color: var(--background);
}

.progress {
  background-color: var(--color-light);
  width: 50%;
  height: 100%;
}